.csssize {
    height: 3064px
}

.t-body {
    margin: 0
}

#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none
}

#allrecords a {
    color: #ff8562;
    text-decoration: none
}

#allrecords a,#allrecords button,#allrecords .t-radio,#allrecords .t-checkbox,#allrecords .t-img-select {
    outline: none
}

#allrecords a:focus-visible,#allrecords button:focus-visible,#allrecords .t-focusable,#allrecords .t-focusable .t-btn,#allrecords .t-focusable .t-btntext,#allrecords .t-img-select:focus-visible+.t-img-select__indicator,#allrecords .t-img-select:focus-visible+.t-img-select__indicator:after,#allrecords .t-radio:focus-visible+.t-radio__indicator,#allrecords .t-checkbox:focus-visible+.t-checkbox__indicator {
    outline-color: #2015FF;
    outline-offset: 4px;
    outline-style: auto
}

#allrecords .t-descr a:focus-visible,#allrecords .t-sociallinks a:focus-visible,#allrecords .ya-share2__link:focus-visible {
    outline-offset: 2px
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none
}

#allrecords ol {
    padding-left: 22px
}

#allrecords ul {
    padding-left: 20px
}

#allrecords b,#allrecords strong {
    font-weight: 700
}

@media print {
    body,html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none
    }
}

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: none
}

.t-records a {
    color: #ff8562;
    text-decoration: none
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none
}

.t-records ol {
    padding-left: 22px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-mbfix {
    opacity: .01;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease
}

.t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px)
}

img:not([src]) {
    visibility: hidden
}

.t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.r_anim {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s
}

.r_hidden {
    opacity: 0
}

.r_showed {
    opacity: 1
}

.t-text {
    font-family: 'Arial',Arial,sans-serif;
    font-weight: 300;
    color: #000000
}

.t-text_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-input {
    font-family: 'Unbounded',Arial,sans-serif
}

@media screen and (max-width: 1200px) {
    .t-text_sm {
        font-size:16px
    }
}

@media screen and (max-width: 640px) {
    .t-text_sm {
        font-size:14px;
        line-height: 1.45
    }
}

.t969-preview {
    background-image: url('https://static.tildacdn.com/tild3434-3132-4465-b765-663662356637/boughs.png');
    background-repeat: repeat-x;
    background-repeat-y: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 50px
}

.t969 {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 989;
    display: block;
    pointer-events: none;
    background-image: url('https://static.tildacdn.com/tild3434-3132-4465-b765-663662356637/boughs.png');
    background-repeat: repeat-x;
    background-repeat-y: no-repeat;
    background-position: bottom;
    background-size: contain
}

@media screen and (max-width: 1240px) {
    .t969 {
        background-size:cover
    }
}

@media screen and (max-width: 960px) {
    .t969 {
        background-position-x:-70px
    }
}

@media screen and (max-width: 480px) {
    .t969 {
        height:98px;
        background-position-x: -50px
    }
}

.t970__widget-preview-container {
    min-height: 350px
}

.t970 {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50001;
    display: block
}

.t970_preview {
    position: absolute;
    z-index: 1000
}

.t970__widget-input {
    display: none
}

.t970__widget {
    position: fixed;
    z-index: 1;
    cursor: pointer
}

.t970_preview .t970__widget {
    position: absolute
}

.t970_santa .t970__widget {
    background-image: url('https://static.tildacdn.com/tild6430-6261-4566-b833-396330613231/santa1.png');
    background-position-x: left;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 220px
}

.t970_gift .t970__widget {
    background-image: url('https://static.tildacdn.com/tild3333-3539-4934-b338-336663313439/gift1.png');
    background-position-x: left;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 33px;
    width: 70px;
    height: 160px
}

.t970__message-wrapper {
    position: fixed;
    bottom: 40px;
    left: 137px;
    max-width: 350px;
    min-width: 200px;
    margin-right: 30px;
    opacity: 0;
    z-index: -1;
    transform: translateY(100%);
    transition: all ease .3s;
    box-sizing: border-box;
    pointer-events: none
}

.t970_preview .t970__message-wrapper {
    position: absolute;
    width: 400px
}

.t970__message {
    padding: 21px 65px 20px 30px;
    display: block;
    box-sizing: border-box
}

.t970__message-arrow_before,.t970__message-arrow_after {
    position: absolute;
    left: -13px;
    bottom: 45px;
    height: 30px;
    width: 30px;
    background: inherit;
    box-sizing: border-box;
    transform: skewX(45deg);
    box-shadow: inherit;
    z-index: -1;
    border-top: inherit;
    border-left: inherit
}

.t970__message-arrow_after {
    box-shadow: none;
    z-index: 3
}

.t970__message::after {
    content: '';
    display: block;
    position: absolute;
    right: -25px;
    bottom: -25px;
    width: 277px;
    height: 173px;
    max-height: 100%;
    max-width: 300px;
    pointer-events: none;
    z-index: 4
}

.t970_santa .t970__message::after {
    background-image: url('https://static.tildacdn.com/tild6161-3462-4132-b333-303439613330/branch1.png');
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat
}

.t970_gift .t970__message:after {
    background-image: url('https://static.tildacdn.com/tild6465-3338-4435-b865-663136646336/branch2.png');
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat
}

.t970__message-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    margin: 0 0 1.5em;
    color: #fff
}

.t970_preview .t970__message-txt {
    max-height: 215px
}

.t970__btn-close {
    position: absolute;
    top: 16px;
    right: 15px;
    background: transparent;
    border: none;
    padding: 5px;
    outline: none;
    cursor: pointer
}

.t970__btn-close svg {
    display: block
}

.t970__widget-input:checked~.t970__message-wrapper,.t970__message-wrapper_active {
    opacity: 1;
    transform: translateY(0);
    z-index: auto;
    pointer-events: auto
}

.t970_gift .t970__widget-input:checked+.t970__widget,.t970_preview.t970_gift .t970__widget {
    background-image: url('https://static.tildacdn.com/tild3239-3165-4233-b333-396632613930/gift2.png');
    background-position-x: left;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 230px;
    left: 26px
}

.t970_santa .t970__widget-input:checked+.t970__widget,.t970_preview.t970_santa .t970__widget {
    background-image: url('https://static.tildacdn.com/tild6465-6532-4637-b230-666235383665/santa2.png');
    background-position-x: left;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat
}

@media screen and (max-width: 960px) {
    .t970_santa .t970__widget {
        width:122px;
        height: 179px
    }

    .t970__message-wrapper {
        bottom: 30px;
        left: 120px
    }

    .t970__message {
        padding: 19px 57px 20px 27px;
        max-width: 450px;
        min-width: 200px
    }
}

@media screen and (max-width: 480px) {
    .t970_santa .t970__widget {
        bottom:-30px
    }

    .t970__message-wrapper {
        bottom: 180px;
        left: 30px
    }

    .t970_gift .t970__message-wrapper {
        bottom: 186px;
        left: 30px
    }

    .t970__message-arrow_before,.t970__message-arrow_after {
        left: 45px;
        bottom: -15px;
        transform: skewY(-45deg)
    }
}
